<section class="parallax-bg2 parallax colored clearfix marginUp">
	<div class="content dark padded container">
		
		<div class="title grid-full">
			<h2>Edit <%= resource_name.to_s.humanize %></h2>
			<span class="border"></span>
		</div>
		
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
			<div class="formWrapper">	
				<%= devise_error_messages! %>
				<%= f.label :email, class: "formText" %><br/>
	    		<%= f.email_field :email, class: 'email text-area' %><br /><br />
				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
					<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				<% end %>
				<%= f.label :password, class: "formText" %><br />
	    		<%= f.password_field :password, class: 'email text-area' %><br /><br />
				<%= f.label :password_confirmation, class: "formText" %><br />
	    		<%= f.password_field :password_confirmation, class: 'email text-area' %><br /><br /><br />
				<%= f.label :current_password, class: "formText" %><br />
	    		<%= f.password_field :current_password, class: 'email text-area' %><br /><br />
			</div>
			<div class="title grid-full">
				<%= f.submit "Save", class: "button" %><br/><br/>
			</div>
		<% end %>
	</div>
</section>
