<section class="parallax-bg2 parallax colored clearfix marginUp">
	<div class="content dark padded container">
		
		<div class="title grid-full">
			<h2>Add/edit your release content here</h2>
			<span class="border"></span>
		</div>

		<div class="formWrapper">
			<% if @release.errors.any? %>
				<div class="message warning">
					<% @release.errors.full_messages.each do |msg| %>
			   			<%= msg %><br/>
					<% end %>
				</div>
			<% end %>	
			<%= form_for(@release) do |f| %>
				<%= f.label :release_date, class: "formText" %><br/>
    			<%= f.text_field :artist, class: 'email text-area' %><br /><br />
				<%= f.label :title, class: "formText" %><br/>
	    		<%= f.text_field :title, class: 'email text-area' %><br /><br />
			 	<%= f.label :packshot, class: "formText"  %><br />
			 	<%= f.file_field :packshot, class: 'email text-area file-field'  %><br /><br />
				<%= f.label :description, class: "formText" %><br />
	    		<%= f.text_area :description, class: 'email text-areaArea' %><br /><br />
				<%= f.label :URL, class: "formText" %><br />
	    		<%= f.text_field :url, class: 'email text-area' %><br /><br />
				<%= f.label :review_1, class: "formText" %><br />
	    		<%= f.text_field :review_1, class: 'email text-area'  %><br /><br />
	    		<%= f.label :review_2, class: "formText" %><br/>
	    		<%= f.text_field :review_2, class: 'email text-area' %><br /><br />
	    		<%= f.submit %>
			<% end %>
		</div>

		
</section>
